$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-tertiary: var(--color-tertiary);
$color-white: var(--color-white);
$color-placeholder: var(--color-placeholder);
$color-danger: var(--color-danger);
