:root {
    --color-primary: #28293e;
    --color-secondary: #ef6d58;
    --color-tertiary: #fdf0e9;
    --color-white: #ffffff;
    --color-placeholder: lightgray;
    --color-danger: red;
    --color-success: green;
}
