@import "styles/colors.scss";

.input-field {
    border-bottom: 2px solid $color-primary;
    color: $color-primary;
    transition: 0.2s transform;

    &:hover,
    &.focus {
        transform: translateY(-2px);
    }

    input {
        border: none;
        outline: none;
    }
}
