@import "styles/colors.scss";

.input-field {
    &__label {
        display: block;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__input {
        display: flex;
        border-bottom: 2px solid $color-primary;
        color: $color-primary;
        transition: 0.2s transform;

        &:hover,
        &.focus {
            transform: translateY(-2px);
        }

        input {
            border: none;
            outline: none;
            background-color: inherit;
        }
    }

    &.disabled &__input {
        border-bottom: none;

        &:hover,
        &.focus {
            transform: unset;
        }
    }

    &__error {
        visibility: hidden;
        height: 26px;
    }
}
